.navbar {
  height: 50px;
  background-color: #bc6c25;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
}

.navButton {
  margin-left: 7px;
  border: none;
  border-radius: 20px;
  padding: 7px 12px;
  color: #bc6c25;
}
